<section data-ng-controller="loginController">
	<div class="row">
  		<div class="col-sm-4"></div>
  		<div class="col-sm-4">
  			<div class="loginForm">
  				<div class="heading" style="padding-top:10%;">Customer Login</div>
  				<input class="inputType form-control distance" type="text" placeholder="Customer Id...."/>
  				<input class="inputType form-control distance" type="password" placeholder="Password...."/>
  				<button class="loginBut">Login</button>	
  			</div>
  		</div>
 		<div class="col-sm-4"></div>
	</div>
</section>